*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

}
.card{
    height: auto;
    width: 400px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);   
    padding: 30px 20px;
    
}
.card label{
    display: block;
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
}
.card input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    
    outline: none;
    transition: 0.3s;
}

.card input:focus{
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.5);
}

.img-box{
    height: 200px; /* Image er fixed height */
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.show-pass{
    margin-top: 8px;
    font-size: 14px;
    color: #2c5d8f;
    cursor: pointer;
    user-select: none;
}
.login{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login:hover{
    background-color: #45a049;
}
.card a{
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #4CAF50;
}

.card a:hover{
    text-decoration: underline;
}